<br>
<br>
<br>

<fieldset>
    <div class="form-group" [class.has-error]="bundleNameControl.invalid && bundleNameControl.touched ">
        <label class="col-xs-2 col-lg-3 control-label">Name</label>
        <div class="col-xs-9 col-lg-6 ">
            <input required type="text" class="form-control" name="name" [(ngModel)]="model.name" #bundleNameControl="ngModel" />
            <small *ngIf="bundleNameControl.invalid && bundleNameControl.touched " class="help-block">Name is required</small>
        </div>
    </div>
</fieldset>
<fieldset>
    <div class="form-group" [class.has-error]="bundleDescriptionControl.invalid && bundleDescriptionControl.touched ">
        <label class="col-xs-2 col-lg-3 control-label">Description</label>
        <div class="col-xs-9 col-lg-6 ">
            <input required type="text" class="form-control" name="description" [(ngModel)]="model.description" #bundleDescriptionControl="ngModel"
            />
            <small *ngIf="bundleDescriptionControl.invalid && bundleDescriptionControl.touched " class="help-block">Description is required</small>
        </div>
    </div>
</fieldset>



<fieldset>
    <div class="form-group" [class.has-error]="isSellableControl.invalid && isSellableControl.touched ">
        <label class="col-xs-2 col-lg-3 control-label"></label>
        <div class="col-xs-9 col-lg-6 ">
            <label class="toggle">
                <input type="checkbox" [(ngModel)]="model.isSellable" name="checkbox-toggle" checked="checked" #isSellableControl="ngModel">
                <i data-swchon-text="YES" data-swchoff-text="NO"></i>Is Sellable
            </label>
            <small *ngIf="isSellableControl.invalid && isSellableControl.touched " class="help-block">ıs Sellable is required</small>
        </div>
    </div>
</fieldset>



<fieldset>
    <div class="form-group" [class.has-error]="termControl.invalid && termControl.touched ">
        <label class="col-xs-2 col-lg-3 control-label">Term</label>
        <div class="col-xs-9 col-lg-6 ">
            <select required class="form-control" id="termSelect" name="termsSelect" [(ngModel)]="model.term" #termControl="ngModel">
                <option *ngFor="let term of termValues"  [selected]="model.term==term.value" [value]="term.id">
                    {{term.value}}
                </option>
            </select>
            <small *ngIf="termControl.invalid && termControl.touched " class="help-block">Term is required</small>
        </div>
    </div>
</fieldset>