
<br>
<br>
<br>
<div>



    <fieldset>
        <div class="form-group" [class.has-error]="selectCatalogControl.invalid && selectCatalogControl.touched ">
            <label class="col-xs-2 col-lg-3 control-label">Catalog</label>
            <div class="col-xs-9 col-lg-6 ">

                <select select2 style="width:100%" data-select-search="true" id="bundleCatalogSelect" name="catalogId" required [(ngModel)]="model.catalogId"
                    #selectCatalogControl="ngModel">
                    <option [value]="0">Please Select </option>
                    <option *ngFor="let catalog of catalogs" [value]="catalog.id">
                        {{catalog.name}}
                    </option>
                </select>


                <small *ngIf="selectCatalogControl.invalid && selectCatalogControl.touched " class="help-block">Catalog is required</small>
            </div>
        </div>
    </fieldset>


    <fieldset>
        <div class="form-group" [class.has-error]="selectCategoryControl.invalid && selectCategoryControl.touched ">
            <label class="col-xs-2 col-lg-3 control-label">Category</label>
            <div class="col-xs-9 col-lg-6 ">

                <select select2 style="width:100%" data-select-search="true" class="form-control" id="bundleCategorySelect" name="categoryId"
                    required [(ngModel)]="model.categoryId" #selectCategoryControl="ngModel">
                    <option [value]="0">Please Select </option>
                    <option *ngFor="let category of categoryLeaves" [value]="category.id">
                        {{category.name}}
                    </option>
                </select>


                <small *ngIf="selectCategoryControl.invalid && selectCategoryControl.touched " class="help-block">Category is required</small>
            </div>
        </div>
    </fieldset>


    <fieldset>
        <div class="form-group">
            <label class="col-xs-2 col-lg-3 control-label">Segment</label>
            <div class="col-xs-9 col-lg-6 ">

                <select select2 style="width:100%" multiple class="form-control" id="bundleSegmentSelect" name="segmentSelect">

                    <option *ngFor="let segment of segmentList" [value]="segment.id">
                        {{segment.name}}
                    </option>
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <div class="form-group">
            <label class="col-xs-2 col-lg-3 control-label">Sales Channel</label>
            <div class="col-xs-9 col-lg-6 ">

                <select select2 multiple class="select2" id="bundleSalesChannelSelect" style="width:100%" name="salesChannelSelect">
                    <option *ngFor="let salesChannel of salesChannelList" [value]="salesChannel.id">
                        {{salesChannel.name}}
                    </option>
                </select>



            </div>
        </div>
    </fieldset>
    <fieldset>
        <div class="form-group">
            <label class="col-xs-2 col-lg-3 control-label">Documents</label>
            <div class="col-xs-9 col-lg-6 ">
                <select select2 multiple id="bundleDocumentSelect" name="bundleDocumentSelect" style="width:100%" class="select2">
                    <option *ngFor="let document of documentList" [value]="document.id">
                        {{document.name}}
                    </option>
                </select>
            </div>
        </div>
    </fieldset>

</div>