<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Catalog', 'New Catalog']" icon="pencil-square-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <sa-widgets-grid>
        <div class="row">
            <div class="col-sm-12">
                <div sa-widget id="createCatalogWidget" [colorbutton]="true" [editbutton]="false" [deletebutton]="false" [sortable]="false" color="vdf">
                    <header>
                        <h2>Catalog Form </h2>
                    </header>
                    <div>
                        <div class="widget-body">
                            <form (ngSubmit)="onSubmit()" #catalogForm="ngForm" class="form-horizontal">
                                <fieldset>
                                    <div class="form-group"
                                         [class.has-error]="nameControl.invalid && nameControl.submitted ">
                                        <label class="col-xs-2 col-lg-3 control-label">Name</label>
                                        <div class="col-xs-9 col-lg-6 ">
                                            <input id="name" required type="text" class="form-control" name="name"
                                                   [(ngModel)]="model.name" #nameControl="ngModel"/>
                                            <small *ngIf="nameControl.invalid && nameControl.submitted "
                                                   class="help-block">Name is required
                                            </small>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="form-group"
                                         [class.has-error]="descriptionControl.invalid && descriptionControl.submitted ">
                                        <label class="col-xs-2 col-lg-3 control-label">Description</label>
                                        <div class="col-xs-9 col-lg-6 ">
                                            <input id="description" required type="text" class="form-control"
                                                   name="description" [(ngModel)]="model.description"
                                                   #descriptionControl="ngModel"
                                            />
                                            <small *ngIf="descriptionControl.invalid && descriptionControl.submitted "
                                                   class="help-block">Description is required
                                            </small>
                                        </div>
                                    </div>
                                </fieldset>
                                <!--
                                <fieldset>
                                    <div class="form-group"
                                         [class.has-error]="validForStartDateControl.invalid && validForStartDateControl.submitted && validForEndDateControl.invalid && validForEndDateControl.submitted ">
                                        <label class="col-xs-2 col-lg-3 control-label">Valid For:</label>
                                        <div class=" col-xs-5 col-lg-3">
                                            <div class="input-group">
                                                <input class="form-control" id="validForStartDate"
                                                       name="validForStartDate" placeholder="From" type="date"
                                                       [(ngModel)]="model.validForStartDate"
                                                       #validForStartDateControl="ngModel" required>
                                                <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            </div>
                                            <small *ngIf="validForStartDateControl.invalid && validForStartDateControl.submitted"
                                                   class="help-block">Valid For Start Date is required
                                            </small>
                                        </div>

                                        <div class=" col-xs-5 col-lg-3">
                                            <div class="input-group">
                                                <input class="form-control" id="validForEndDate" name="validForEndDate"
                                                       placeholder="To" type="date" [(ngModel)]="model.validForEndDate"
                                                       #validForEndDateControl="ngModel" required>
                                                <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                                            </div>
                                            <small *ngIf="validForEndDateControl.invalid && validForEndDateControl.submitted"
                                                   class="help-block">Valid For End Date is required
                                            </small>
                                        </div>
                                    </div>
                                </fieldset>
                                -->
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-danger" routerLink="/catalog/catalog-list">
                                                <i class="fa fa-arrow-circle-left"></i>
                                                Cancel
                                            </button>
                                            <button class="btn btn-success" type="submit">
                                                <i class="fa fa-save"></i>
                                                Save
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sa-widgets-grid>

</div>